{% extends "bootstrap/base.html" %}
{% block title %}我要开店{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('cms.主页') }}">主页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="">我要开店</a></li>
            </ul>
           <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                    <li><a href="">欢迎{{  current_user.username }}!</a></li>
                    <li><a href="{{ url_for('cms.注销') }}">注销</a></li>
                {% else %}
                    <li><a href="{{ url_for('cms.注册') }}">注册</a></li>
                    <li><a href="{{ url_for('cms.登录') }}">请登录</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
        <h3 class="text-center">添加商铺信息</h3>
    </div>

    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">商铺名</label>
            <div class="col-sm-10">
                <input name="shop_name" type="text" class="form-control" id="item_name" placeholder="请输入商铺名">
                {{ form.shop_name.errors[0] }}
            </div>
        </div>
         <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">是否是品牌</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_brand">
            </div>
        </div>
         <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">蜂鸟配送</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_bird">
            </div>
        </div>

        <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">准时送达</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_ontime">
            </div>
        </div>
        <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">提供保险</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_bao">
            </div>
        </div>
        <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">提供发票</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_fp">
            </div>
        </div>
        <div class="form-group">
            <label for="item_cnt" class="col-sm-2 control-label">准标识</label>
            <div class="col-sm-10">
                <input type="checkbox" name="is_zun">
            </div>
        </div>
        <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">起送价格</label>
            <div class="col-sm-10">
                <input name="start_cost" type="text" class="form-control" id="item_name" placeholder="请输入起送价格">
                {{ form.start_cost.errors[0] }}
            </div>
        </div>
        <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">配送费</label>
            <div class="col-sm-10">
                <input name="send_cost" type="text" class="form-control" id="item_name" placeholder="请输入配送费">
                {{ form.send_cost.errors[0] }}
            </div>
        </div>
        <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">店铺公告</label>
            <div class="col-sm-10">
                <input name="notice" type="text" class="form-control" id="item_name" placeholder="请输入店铺公告">
                {{ form.notice.errors[0] }}
            </div>
        </div>
        <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">优惠信息</label>
            <div class="col-sm-10">
                <input name="discount" type="text" class="form-control" id="item_name" placeholder="请输入优惠信息">
                {{ form.discount.errors[0] }}
            </div>
        </div>

        <div class="page-header">
        <p class="text-center"><button type="submit" class="btn btn-primary">注册</button></p>
        </div>

    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="my-script.js"></script>
{% endblock %}