{% extends "bootstrap/base.html" %}
{% block title %}商家后台{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('cms.主页') }}">主页</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('cms.添加店铺') }}">我要开店</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                    <li><a href="">欢迎{{  current_user.username }}!</a></li>
                    <li><a href="{{ url_for('cms.注销') }}">注销</a></li>
                {% else %}
                    <li><a href="{{ url_for('cms.注册') }}">注册</a></li>
                    <li><a href="{{ url_for('cms.登录') }}">请登录</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ shop.shop_name }}食品分类</h1>
        <hr>

              <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="text-danger">{{ shop.shop_name }}</strong>的分类：
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>分类名称</th>
                                    <th>菜品信息</th>
                                    <th>平均价格</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in cate %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><a href="{{ url_for('cms.更新分类',sid=shop.id,cid=i.id) }}">{{ i. name }}</a> </td>
                                    <td> <a href="{{ url_for('cms.添加菜品',sid=shop.id) }}">添加</a>

                                        &nbsp;&nbsp;{{ i.count }}</td>

                                    <td>￥{{ i.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
              </div>
    </div>

{% endblock %}
